{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<br><br><br><br><br>

<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ singel_service.images.url }}" />
          </a>
        </div>
        
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ singel_service.service_name }}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
          </div>

          <div class="mb-3">
            <span class="h5"> $ {{ singel_service.price }}</span>
            <span class="text-muted">/ Could be more or less</span>
          </div>

          <p>
            {{ singel_service.sm_description }}
          </p>

          <div class="row">
              <dt class="col-3">Available:</dt>
              {% if is_available == TRUE %}
                  <div class="col-9">Activate</div>
              {% else %}
                  <div class="col-9">Deactivate</div>
              {% endif %}

              <dt class="col-3">Delivery Time:</dt>
              <dd class="col-9">{{ singel_service.delivary_time }} day</dd>

              <dt class="col-3">Category:</dt>
              <dd class="col-9">{{ singel_service.Service_category }}</dd>

              <dt class="col-3">Modified:</dt>
              <dd class="col-9">{{ singel_service.modified_date }}</dd>
          </div>


          <hr />

          <a href="{% url 'contact' %}" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Contact Me </a>
        </div>
      </main>
    </div>
  </div>
</section>



<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">


          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              
                {{ singel_service.description }}
              
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>

      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Other Services</h5>

              {% for service in courses %}
              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <img src="{{ service.images.url }}" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    {{ service.service_name }}
                  </a>
                  <strong class="text-dark"> ${{ service.price }}</strong>
                </div>
              </div>
              {% endfor %}
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}